$background-color: #efefef;
$light-color: #6f6f6f;
$font-color: #1d1d1d;
$border-color: #8b8181;
$accent-color: #918b91;
$cta-color: #302321;

$space-xxs: .125rem;
$space-xs: .25rem;
$space-s: .5rem;
$space-m: 1rem;
$space-l: 2rem;
$space-xl: 4rem;

$font-xs: .75rem;
$font-s: 1rem;
$font-m: 1.5rem;
$font-l: 2rem;
$font-xl: 3rem;